.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries {
  width: 60%;
}

.countries--first {
  justify-content: end;
  align-items: flex-end;
}

.countries--second {
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.countries--third {
  align-items: flex-start;
  justify-content: center;
}

.countries--third li:first-child {
  align-self: flex-end;
}

.countries--fourth {
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.countries--fourth li:nth-child(3),
.countries--fourth li:nth-child(4) {
  align-self: center;
}

.countries--fifth {
  justify-content: space-around;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.countries--fifth li:nth-child(4) {
  order: 2;
}

.countries--fifth li:last-child {
  align-self: center;
}
