/* Add your CSS code below */
.messages a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.messages time {
  font-size: 0.9em;
}

.messages :first-child p {
  color: rgba(0, 0, 0, 0.315);
}

.message__content {
  line-height: 3.3em;
}
.message--unread {
  border-left: 6px solid blue;
}
