/* Add your own CSS code below */

.countries--first {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 10%;
  width: fit-content;
}

.countries--second {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.countries--third {
  display: flex;
  flex-direction: column-reverse;
  width: 65%;
}
